.form-card {
  background-color: hsl(217, 100%, 97%);
  border-radius: 12px;
  position: relative;
  height: 90vh;
}

@media (min-width: 700px) {
  .form-card {
    background-color: white;
    margin-top: 150px;
    height: 70vh;
    padding: 10px;
  }
}

.buttons-control {
  display: flex;
  padding: 20px 15px;
  background-color: white;
  justify-content: space-between;
}
