.steps {
  background-image: url(../public/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding-top: 35px;
  padding-bottom: 100px;

  li {
    div:nth-of-type(even) {
      display: none;
    }
    div:nth-of-type(odd) {
      color: hsl(0, 0%, 100%);
      border-radius: 50%;
      border: 1px solid hsl(0, 0%, 100%);
      width: 30px;
      height: 30px;
      text-align: center;
      padding-top: 5px;
      font-weight: bold;
    }
  }
}

.highlight {
}
