.steps {
  background-image: url(../public/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  width: 375px;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-top: 35px;
  padding-bottom: 100px;
  white-space: nowrap;

  li {
    div:nth-of-type(even) {
      display: none;
    }
  }
}

.number {
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}

.highlight {
  color: hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
}
