.summary {
  border-radius: 8px;
  background-color: hsl(231, 100%, 99%);
  margin-top: 20px;

  .sum {
    padding-top: 10px;
    font-weight: 700;
  }

  hr {
    border-top: 1px solid hsl(229, 24%, 87%);
    margin: 0 20px;
    margin-bottom: 15px;
  }

  p {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    font-weight: 400;
  }

  p:nth-of-type(2) {
    color: hsl(213, 96%, 18%);
  }

  li:nth-of-type(1) {
    padding-top: 15px;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
    padding-bottom: 15px;

    button {
      border: none;
      text-decoration: underline;
      background-color: transparent;
      color: hsl(231, 11%, 63%);
    }

    button:hover {
      cursor: pointer;
    }

    h4 {
      color: hsl(213, 96%, 18%);
    }
  }
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    color: hsl(231, 11%, 63%);
    font-size: 14px;
    font-weight: 400;
    margin: 22px 10px;
    padding-left: 4px;
  }

  p:nth-of-type(2) {
    color: hsl(243, 100%, 62%);
    font-weight: 700;
  }
}

.summary .sum {
  color: hsl(213, 96%, 18%);
}
