:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 30px 25px;
  width: 345px;
  position: absolute;
  top: 100px;
  left: 15px;
}

@media (min-width: 700px) {
  .card {
    position: static;
    grid-area: card;
  }
}
