.main {
  display: flex;
  flex-direction: column;

  align-items: center;
  min-height: 100vh;
  background-color: hsl(217, 100%, 97%);
  height: 100%;
}

/* Mobile */
@media (min-width: 700px) {
  .main {
    justify-content: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
